Reyes Magos (2).json
[
    {
        "id": "3ffc16eac754e290",
        "type": "tab",
        "label": "Reyes Magos",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f2453d10d9bb0e80",
        "type": "ui_switch",
        "z": "3ffc16eac754e290",
        "name": "",
        "label": "Leds",
        "tooltip": "",
        "group": "04f81a256ad9c541",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 370,
        "y": 140,
        "wires": [
            [
                "a5e9472e74d52682"
            ]
        ]
    },
    {
        "id": "b2e61bf118271e48",
        "type": "ui_switch",
        "z": "3ffc16eac754e290",
        "name": "",
        "label": "Cofre",
        "tooltip": "",
        "group": "b7890dcdc3a05e5b",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "2",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "3",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 370,
        "y": 220,
        "wires": [
            [
                "a5e9472e74d52682"
            ]
        ]
    },
    {
        "id": "32e7fc02ddcaedf2",
        "type": "ui_switch",
        "z": "3ffc16eac754e290",
        "name": "",
        "label": "Musica",
        "tooltip": "",
        "group": "3ea76cea1bbbfcc3",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "4",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "5",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 380,
        "y": 300,
        "wires": [
            [
                "a5e9472e74d52682"
            ]
        ]
    },
    {
        "id": "a5e9472e74d52682",
        "type": "mqtt out",
        "z": "3ffc16eac754e290",
        "name": "",
        "topic": "rysmgs/led",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "402c70c08b7e9f25",
        "x": 590,
        "y": 220,
        "wires": []
    },
    {
        "id": "3facb3331a4cdc11",
        "type": "inject",
        "z": "3ffc16eac754e290",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 220,
        "wires": [
            [
                "b2e61bf118271e48",
                "32e7fc02ddcaedf2",
                "f2453d10d9bb0e80"
            ]
        ]
    },
    {
        "id": "04f81a256ad9c541",
        "type": "ui_group",
        "name": "Leds",
        "tab": "80f3545b192dabfe",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b7890dcdc3a05e5b",
        "type": "ui_group",
        "name": "Cofre",
        "tab": "80f3545b192dabfe",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3ea76cea1bbbfcc3",
        "type": "ui_group",
        "name": "Musica",
        "tab": "80f3545b192dabfe",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "402c70c08b7e9f25",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "80f3545b192dabfe",
        "type": "ui_tab",
        "name": "Reyes Magos",
        "icon": "dashboard",
        "order": 6,
        "disabled": false,
        "hidden": false
    }
]